<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springmvc.dao.INoticeDAO">
	<select id="getNoticeByCourse_id" parameterType="int" resultType="Notice">
		SELECT * FROM notice WHERE course_id=#{course_id} ORDER BY date DESC
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO notice(course_id, content, date, time, publisher, subject, end_date) VALUES(#{course_id}, #{content}, #{date}, #{time}, #{publisher}, #{subject}, #{end_date})
	</insert>
	
	<update id="updateNotice" parameterType="Notice" keyProperty="notice_id">
		UPDATE notice SET content=#{content}, date=#{date}, time=#{time}, view_num=#{view_num}, publisher=#{publisher} WHERE notice_id=#{notice_id}
	</update>
	
	<update id="updateContentAndSubjectById" keyProperty="notice_id">
		UPDATE notice SET content=#{content}, subject=#{subject} WHERE notice_id=#{notice_id}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM notice WHERE notice_id=#{notice_id}
	</delete>
	
	<select id="getNoticesByCourse_ids" resultType="Notice">
		SELECT * FROM notice WHERE course_id IN (<foreach collection="array" index="index" item="course_id" separator=", ">#{course_id}</foreach>)
	</select>
</mapper>